* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #6c0d0d;
  color: #333;
  line-height: 1.6;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(4, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#overlay.show {
  opacity: 1;
  pointer-events: auto;
}

header {
  background: #0d0d0de9;
  padding: 12px 0;
}

.navbar .nav-content {
  width: 92%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.left-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.search-form {
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 380px;
}

.search-form input {
  padding: 7px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
}

.search-form button {
  padding: 7px 14px;
  background: #772f2f;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 16px;
  padding: 8px 10px;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #772f2f;
}

.menu-btn {
  display: none;
  flex-direction: column;
  width: 28px;
  cursor: pointer;
  gap: 5px;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}

.menu-btn.close span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-btn.close span:nth-child(2) {
  opacity: 0;
}

.menu-btn.close span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar ul {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1a1a1a;
    flex-direction: column;
    padding-top: 80px;
    transition: 0.3s;
  }

  .navbar ul.open {
    left: 0;
  }

  .navbar ul li {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }

  .search-form {
    max-width: 200px;
  }
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.container {
  background: #ffffffa5;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 360px;
  letter-spacing: 0.1vh;
  border-radius: 5vh;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: #212121;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #4b4b4b;
}

input {
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid #dbdbdb;
  border-radius: 2.5vh;
  font-size: 1rem;
  transition: border-color 0.4s ease;
}

input:focus {
  border-color: #28577c;
  outline: none;
}

button {
  padding: 0.8rem;
  background-color:#0d0d0de9;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6f3131;
}

.search-form {
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 380px;
}

.search-form input {
  padding: 7px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
}

.search-form button {
  padding: 7px 14px;
  background: #231d1d;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-form {
    display: none;
  }
}
